@charset "UTF-8";
html,body{ height: 100%; }
ol,ul{ list-style: none; }
ol,ul,li{ margin: 0; padding: 0; }
a{ text-decoration: none; color: #666666; }

.box{
  background: red;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.box.box1{
  width: 30vw;
}

.box.box2{
  width: 60vw;
  background: green;
}

.box.box3{
  width: 60vh;
}

.box.box4{
  height: 50vw;
  background: yellow;
}

.box.box5{
  width: 30vh;
}
